/* FIXME Создать общий style.css */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

body {
    min-width: 250px;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    text-align: center;
}

.control_form_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.playlist_form_button {
    display: flex;
    justify-content:center;
}

.button {
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid rgba(27, 31, 36, 0.15);
    padding: 0 10px;
    height: 30px;
    white-space: nowrap;
    text-align: center !important;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 1px 0 rgba(27, 31, 36, 0.04), inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.button:focus-visible {
    border: 2px solid #0969da;
    outline: 0;
}

.button_download {
    background-color: #2da44e;
    border-color: rgba(27, 31, 36, 0.15);
}

.button_download:hover {
    background-color: #2c974b;
    border-color: rgba(27, 31, 36, 0.15);
}

.button_download:active,
.active {
    background-color: hsla(137, 55%, 36%, 1);
}

.button_clear {
    color: #cf222e;
    background-color: #f6f8fa;
    border-color: rgba(27, 31, 36, 0.15);
}

.button_clear:hover {
    color: #fff;
    background-color: #a40e26;
    border-color: rgba(27, 31, 36, 0.15);
    box-shadow: inset 0 1px 0 rgba(76, 0, 20, 0.2);
}

.button_clear:active,
.active {
    background-color: hsla(356, 72%, 44%, 1);
    border-color: rgba(27, 31, 36, 0.15);
    box-shadow: inset 0 1px 0 rgba(76, 0, 20, 0.2);
}

.wrapper {
    max-width: 250px;
    width: 100%;
    height: auto;
}

.wrapper .form {
    background-color: #f6f8fa;
    border: 1px solid hsla(210, 18%, 87%, 1);
    border-radius: 6px;
    padding: 10px 20px;
}

.wrapper .form .input_field {
    margin-bottom: 15px;
    position: relative;
}

.wrapper .form .input_field label {
    display: block;
    margin-bottom: 7px;
    color: #24292e;
}

.wrapper .form .input_field .input {
    width: 100%;
    background: #fff;
    border: 1px solid #d1d5da;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, .075);
    border-radius: 6px;
    color: #24292e;
    line-height: 20px;
    min-height: 34px;
    padding: 6px 8px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.wrapper .form .input_field .input:focus {
    outline: none;
    border-color: #0969da !important;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, .075), 0 0 0 3px rgba(94, 137, 192, 0.3);
}

.wrapper .form .input_field .input.invalid:focus {
    outline: none;
    border-color: #cf222e !important;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, .075), 0 0 0 3px rgba(195, 34, 34, 0.3);
}

.icon-info-circled {
    float: right;
    margin-right: 6px;
    margin-top: -25px;
    position: relative;
    z-index: -1;
    color: #cf222e;
}

.yt_label {
    cursor: default;
    height: 25px;
    background-color: #cf222e;
    color: #f6f8fa;
    user-select: none;
}

.vk_playlist_button {
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid rgba(27, 31, 36, 0.15);
    background-color: #2c74c9;
    background-image: -webkit-linear-gradient(top, #2c74c9, #295192);
    background-image: -moz-linear-gradient(top, #2c74c9, #295192);
    background-image: -ms-linear-gradient(top, #2c74c9, #295192);
    background-image: -o-linear-gradient(top, #2c74c9, #295192);
    background-image: linear-gradient(top, #2c74c9, #295192);
    font-weight: 400;
    vertical-align: middle;
    padding: 0 10px;
    align-items: center;
    height: 30px;
    display: inline-flex;
    white-space: nowrap;
    text-align: center !important;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 1px 0 rgba(27, 31, 36, 0.04), inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.icon-play {
    padding-bottom: 2px;
}
